@import url('https://fonts.googleapis.com/css?family=Droid+Sans|Roboto:300:500');

/*font-family: 'Droid Sans', sans-serif;
font-family: 'Roboto', sans-serif;*/

body {
  margin: 0;
  padding: 20px;
  font-family: 'Roboto', sans-serif;
  color: #ccc;

}

a:link {
  text-decoration: none;
  color: #ccc;
}

textarea:focus, input:focus {
  outline: none;
  border: 1px solid black;
}

textarea {
  resize: none;
}

textarea, input, button{font-family:inherit; border: 1px solid #ccc;}


/***Navigation***/

.navbar {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  font-family: 'Droid Sans', sans-serif;
  grid-gap: 1em;
  font-weight: bold;
  font-size: 1em;
  white-space: nowrap;
}

.nav-wrapper {
  display:grid;
  grid-template-columns: 1fr;
  text-align: left;
  font-size: 3em;
  /*border: 1px solid #ccc;*/
  transition: .75s ease-in-out;
}

.overlap {
  grid-column: 1/2;
  grid-row: 1/2;
}

.text {
  margin-top: 0;
  color: rgba(255, 0, 0, .33);
}

.text2 {
  margin-top: 0;
  color: rgba(0, 255, 0, .33);
  transition: .75s ease-in-out;
}

.text3 {
  margin-top: 0;
  color: rgba(0, 0, 255, .33);
  transition: .75s ease-in-out;
}

.nav-item {
  border: 1px solid #ccc;
  text-align: center;
  padding: 10px;
  transition: .5s ease-in-out;
  color: #ccc;
  margin-top: 15px;
}

/*.nav-item:hover {
  color: white;
}

.nav-item-red:hover {
  background-color: rgba(255,0,0,.5);
  border: 1px solid rgba(255,0,0,1);
}

.nav-item-green:hover {
  background-color: rgba(0,255,0,.5);
  border: 1px solid rgba(0,255,0,1);
}

.nav-item-blue:hover {
  background-color: rgba(0,0,255,.5);
  border: 1px solid rgba(0,0,255,1);
}*/

/***Button***/

.nice-button {
  background-color: #fff;
  color: #ccc;
  border: 1px solid #ccc;
  padding: 10px ;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  transition: .5s ease-in-out;
}

/*.nice-button:hover {
  color: #fff;
  background-color: rgba(0, 255, 0, .5);
  border: 1px solid rgba(0, 255, 0, 1);
}*/

.nice-button:focus {
  outline:none;
}

.mean-button {
  background-color: #fff;
  color: #ccc;
  border: 1px solid #ccc;
  padding: 10px ;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  margin: 5px;
  transition: .5s ease-in-out;
}

/*.mean-button:hover {
  color: #fff;
  background-color: rgba(255, 0, 0, .75);
  border: 1px solid rgba(255, 0, 0, 1);
}*/

.mean-button:focus {
  outline:none;
}

/***Main***/

.main-palates-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1em;
    padding: 20px;
    text-align: center;
}


.main-palate-items {
  display: grid;
  grid-template-columns: 1fr;
}

.main-palate-items>div {
  width: 400px;
  margin: 0 auto;
  height: 400px;
  grid-column: 1/2;
  grid-row: 1/2;
  background-color: rgba(255,255,255,.5);
  z-index: 2;
  transition: .5s ease-in-out;
  border: 1px solid #ccc;
}

/*.main-palate-items>div:hover {
  background-color: rgba(255,255,255, 0);
  z-index: 0;
}*/

.main-palate-items>svg {
  grid-column: 1/2;
  grid-row: 1/2;
  display: block;
  margin: 0 auto;
  width: 400px;
}

/***Repalate***/

.repalate-container {
  display: grid;
  justify-content: center;
  text-align: center;
  padding: 20px;
}

.repalate-container>svg {
  border: 1px solid #ccc;
}

.color-item-wrapper {
  border: 1px solid white;
  margin-top: 20px;
}

/*.color-item-wrapper:hover {
  border: 1px solid #ccc;
  color: black;
}*/

.color-item-wrapper>div {
  float: left;
  width: 20%;
  height: 85px;
  margin-right: 10px;
}

.color-item-wrapper>p {
  text-align: left;
}

/***SvgEdit***/
.svg-edit {
  padding: 2em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 4em;
  grid-auto-rows: minmax(200px, auto);
}

/***NoteForm***/

.note-form {
  margin: 0 auto 0;
}

.note-form>input {
  width: 100%;
  font-size: 1em;
  margin-top: 15px;
  padding: 5px;
}

.note-form>textarea {
  width: 100%;
  margin: 15px auto 0;
  padding: 5px;
}

/***ImageForm***/

.image-form {
  overflow: auto;
}

.image-form>form {
  overflow: auto;
  margin-bottom: 15px;
}

.image-form>form>input {
  width: 65%;
  padding: 10px;
  float: left;
}

.image-form>form>button {
  width: 25%;
  min-width: 85px;
  float: right;
  padding: 7px;
  white-space: nowrap;
}

/***LoginForm***/

.login-form {
  margin: 10% auto;
  border: 1px solid #ccc;
  text-align: center;
  width: 200px;
  padding: 10px 30px 50px;
  transition: .5s ease-in-out;
}

/*.login-form:hover {
  border: 1px solid black;
}*/

.login-form>h1 {
  transition: .5s ease-in-out;
}

/*.login-form>h1:hover {
  color: black;
}*/


.login-form>input {
  margin-bottom: 20px;
  padding: 5px;
}

@media (hover: hover) {

  .nav-item:hover {
    color: white;
  }

  .nav-item-red:hover {
    background-color: rgba(255,0,0,.5);
    border: 1px solid rgba(255,0,0,1);
  }

  .nav-item-green:hover {
    background-color: rgba(0,255,0,.5);
    border: 1px solid rgba(0,255,0,1);
  }

  .nav-item-blue:hover {
    background-color: rgba(0,0,255,.5);
    border: 1px solid rgba(0,0,255,1);
  }

  .nice-button:hover {
    color: #fff;
    background-color: rgba(0, 255, 0, .5);
    border: 1px solid rgba(0, 255, 0, 1);
  }

  .mean-button:hover {
    color: #fff;
    background-color: rgba(255, 0, 0, .75);
    border: 1px solid rgba(255, 0, 0, 1);
  }

  .main-palate-items>div:hover {
    background-color: rgba(255,255,255, 0);
    z-index: 0;
  }

  .color-item-wrapper:hover {
    border: 1px solid #ccc;
    color: black;
  }

  .login-form:hover {
    border: 1px solid black;
  }

  .login-form>h1:hover {
    color: black;
  }

}


/***FOR IPAD***/

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
  .main-palates-wrapper {
      grid-template-columns: repeat(2, 1fr);
  }

  .svg-edit {
    grid-template-columns: 1fr;
  }

  .main-palate-items>div {
    width: 100%;
  }
  .main-palate-items>svg {
    width: 100%;
  }
}

/***Reset***/

/*html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
/*article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}*/
